.gradient-background__wrapper {
    background: #141414;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.gradient-background__dark {
    -webkit-filter: blur(250px);
    filter: blur(250px);
    transform: translate3d(0, 0, 0);
}

.gradient-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.gradient-background__shape--1 {
    bottom: 0;
    left: 0;
    width: 700px;
    height: 700px;
    background: #8e7bff;
    mix-blend-mode: lighten;
    transform: translate(-30%, 40%);
    animation-name: gradientShapeAnimation1;
}

.gradient-background__shape {
    mix-blend-mode: lighten;
    -webkit-animation-duration: 20s;
    animation-duration: 20s;
    position: absolute;
    border-radius: 100%;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.1, 0, 0.9, 1);
}

.gradient-background__shape--2 {
    top: 0;
    right: 0;
    width: 600px;
    height: 600px;
    background: #44f2eb;
    -webkit-transform: translate(20%, -40%);
    transform: translate(20%, -40%);
    animation-name: gradientShapeAnimation2;
}

@keyframes gradientShapeAnimation1 {
    0% {
        transform: translate(-30%, 40%) rotate(-20deg);
    }

    25% {
        transform: translate(0%, 20%) skew(-15deg, -15deg) rotate(80deg);
    }

    50% {
        transform: translate(30%, -10%) rotate(180deg);
    }

    75% {
        transform: translate(-30%, 40%) skew(15deg, 15deg) rotate(240deg);
    }

    100% {
        transform: translate(-30%, 40%) rotate(-20deg);
    }
}

@keyframes gradientShapeAnimation2 {
    0% {
        transform: translate(20%, -40%) rotate(-20deg);
    }

    20% {
        transform: translate(0%, 0%) skew(-15deg, -15deg) rotate(80deg);
    }

    40% {
        transform: translate(-40%, 50%) rotate(180deg);
    }

    60% {
        transform: translate(-20%, -20%) skew(15deg, 15deg) rotate(80deg);
    }

    80% {
        transform: translate(10%, -30%) rotate(180deg);
    }

    100% {
        transform: translate(20%, -40%) rotate(340deg);
    }
}

.gradient-background__noise {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://cdn.shopify.com/shopifycloud/identity/assets/gradient/noise-ae0ab1628dee87591c6f6d3740b6e7e4e5109417e35a0781070d9d737f959e22.png);
}

.gradient-background__dark+.gradient-background__noise {
    background-size: 100px;
}